In [1]:
import pandas as pd

In [6]:
taxon = pd.read_csv("taxonomy_teuthida.csv")
genes = pd.read_csv("merge-test-a aaaa.csv", sep=";")
genes.head()

  collection_date      country gene           organism  tax_id     rank
0             NaN  New Zealand  12S  Asperoteuthis lui  502377  species
1             NaN  New Zealand  12S  Asperoteuthis lui  502377  species
2             NaN  New Zealand  12S  Asperoteuthis lui  502377  species
3             NaN  New Zealand  12S  Asperoteuthis lui  502377  species
4             NaN  New Zealand  12S  Asperoteuthis lui  502377  species

In [11]:
df = pd.merge(genes, taxon[["taxid", "lineage_rank"]], left_on='tax_id', right_on='taxid')

In [13]:
df.to_csv("sequences.csv")